.header {
    box-sizing: border-box;
    background-color: #333c4a;
    color: #dddddd;
    border-bottom: 5px solid #2a3340;
    /*position: fixed;*/
    z-index: 1;
    height: 12%;
    margin: 0;
    padding: 15px;
    width: 100%;
}

.header h1 {
    padding: 0;
    margin: 0;
    height:100%;
    width: 100%;
}