.sidebar{
    margin: 0;
    /*position: fixed;*/
    width: 10%;
    display: inline-block;
    left: 0;
    top:0;
    bottom: 0;
    height: 100%;
    background-color: #052a52;
    color: #a8acb2;
}

.sidebar h3 {
    padding-left: 10px;
}

.sidebar .sidebarElement{
    margin: 0;
    padding: 5px 5px 5px 10px;

}

.sidebar .sidebarElement:hover {
    background-color: #05386e;
}