.hexagonInner:hover {
    /*opacity: 0.3;*/
    /*z-index: 1;*/
    
}
.hexagonInner.hovered {
    background-color: #ffffff44;
    z-index: 12;
}
.hexagonInner {
    position: relative;
    shape-outside: polygon(
            0% 24.5%,
            0% 75.5% ,
            50% 100% ,
            100% 75.5% ,
            100% 24.5% ,
            50% 0%
    );
    clip-path: polygon(
            0% 24.5%,
            0% 75.5% ,
            50% 100% ,
            100% 75.5% ,
            100% 24.5% ,
            50% 0%
    );
}
