.kingdomStats {
    display: grid;
    width: 100%;
    height: 100%;
    grid:   [row1-start] "nav nav empty2 bp treasury consumption unrest select" 1fr [row1-end]
            [row2-start] "nav nav empty2 empty economy loyalty stability size" 1fr [row2-end]
            / 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr ;
    justify-items: stretch;
    align-items: stretch;
}
.kingdomStatsBpButtons{
    display:flex;
    align-items: stretch;
    align-content: stretch;
    justify-items: stretch;
    justify-content: center;
}
.kingdomStatsBpButtons>input:first-child{
    margin-right: 5%;
}
.kingdomStatsBpButtons > input {
    width:40%;
    font-size: 0.8em;
}
@media only screen and (max-width: 1500px){
    .kingdomStatsBpButtons > input {
        font-size:0.6em;
    }
}

.kingdomStats h2, .kingdomStats h3, .kingdomStats h4, .kingdomStats h5, .kingdomStats h6{
    margin: 3px 0;
    padding:0;
    width: 100%;
    text-align: center;
}
.numberInputField.kingdomStatsBuildPointsInput{
    width:100%;
}
.numberInputField.kingdomStatsBuildPointsInput_input{
    background-color: #2a3340;
    border-color: #353f4c;
    padding:5px 15px;

}

.numberInputButton.kingdomStatsBuildPointsInput_button {
    background-color: #353f4c;
}

.tempText {
    color: #555;
}
.kingdomStats > div {
    border: 1px #444 solid;
    padding: 10px
}

.headerNav {
    display:flex;
    height: 100%;
    padding:10px;
    margin:0;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.buttonGrey.react-tabs__tab--selected{
    border-radius: 5px;
    border-color: #2a3340;
    background-color: #2a3340;
}
.headerNav li {
    text-align: center;
    margin:0;
    width:80%
}

.headerNav a {
    width:80%;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    background-color: #353f4c;
    border-color: #303744;
}
.headerNav a:hover {
    background-color: #252f3c
}