.kingdomName {
    display: inline-block;
    background-color: #333c4a;
    color: #a8acb2;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 1em;
}

.kingdomColor {
    display: inline-block;
    position: relative;
    width: 32px;
    height:32px;
    border: 3px solid #cccccc;
    margin-left: 20px;
}

.kingdomDisplayWrapper {
    padding:10px;
}

.kingdomDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 15px;
    max-height: fit-content;
    width:600px;
}

.kingdomList {
    margin-top: 30px;
}

.board h1 {
    margin: 0 30px 10px 0;
    padding: 0;
    display: inline-block;
}
.colorPickerWrapper{
    position: absolute;
    z-index: 2;
    top:40px;
    left:-160%;
}

.colorPickerWrapper>div:last-child{
    background-color: #333c4a;
}

.removeKingdom{
    width:40px;
    margin-left: 15px;
    align-self: center;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;

}

.removeKingdom img {
    width:32px;
    height:32px;
    border-radius: 50%;
    background-color: #ff3333;
}

.confirmRemoveKingdom {
    margin-left: 15px;
    width:75px;
}

