.kingdomSheet {
    color: #a8acb2;
    height: 100%;
    width: 100%;
    max-height: 100%;
    display: grid;
    grid: [row1-start] "Tabs Tabs Tabs Tabs" 0.5fr [row1-end] [row2-start] "Header Header KingdomSelect KingdomSelect2" 1fr [row2-end] [row3-start] "content content content content" 5fr [row3-end]
            / 1fr 1fr 1fr 1fr;
}

.kingdomSheet h1 {
    display: inline-block;
    grid-area: Header;
}

.kingdomSheetTitle {
    display: inline-block;
    padding: 0 20px;
    margin: 15px 0 0;
    /*width: 600px;*/
}

.kingdomSheetTabs {
    grid-area: Tabs;
}

.kingdomSheetContent {
    grid-area: content;
    max-height: 500px;
    padding: 0 20px;
}

.selectKingdomWrap {
    display: inline-block;
}

.kingdomSheetStats {
    grid-area: content;
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
}

.kingdomSheetField {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: content-box;
}

.kingdomSheetField > * {
    margin-right: 15px;
}

.kingdomSheetField h4, .kingdomSheetField h3 {
    display: inline-block;
    width: 100px;
    margin-top: 0;
    margin-bottom: 0;
}

.kingdomSheetField h4 {
    text-align: right;
}


.kingdomSheetRulers {
    width: 100%;
    flex-wrap: wrap;
    max-height: 500px;
    -webkit-flex-wrap: wrap;
}

.kingdomSheetRulers .kingdomSheetField {
    width: 40%;
}

.kingdomSheetRulerCheck {
    display: flex;
    width: 50px !important;
    flex-direction: row;
}

.kingdomSheetRulerCheck .MuiFormControlLabel-label {
    color: #a8acb2;
}

@media only screen and (max-width: 1450px) {
    .kingdomSheetRulerCheck .MuiFormControlLabel-label {
        font-size: 0.7em;
    }
    .kingdomSheetRulerCheck label {
        margin: 0 10%;
    }
}

.kingdomSheetRulerCheck label {
    margin: 0 20%;
    height:45px;
}

.kingdomSheetRulerCheck .MuiButtonBase-root {
    color: #055a6e !important;
    display: inline-flex !important;
    flex-direction: row !important;
}

.kingdomSheetRulerCheck .MuiButtonBase-root:hover {
    background-color: #055a6e20 !important;
}
