.sidebar{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    z-index: 1;
    background-color: #052a52;
    color: #a8acb2;
    border-right: #05386e 5px solid;
    grid-area: sidebar;

}

.sidebar h3 {
    padding-left: 10px;
    margin-top:5px;
}

.sidebar .sidebarElement{
    margin:0 10px 0 0;
    box-sizing: content-box;


}
.sidebar .sidebarElement a {
    padding: 5px 5px 5px 10px;;
    color:inherit;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
}

.sidebar .sidebarElement a:hover, .sidebar .sidebarElement:hover {
    border-radius: 5px;

    background-color: #052a52;
}

.sidebarPanels {
    margin-top: 15px;
}

.sidebarPanels h2, .sidebarPanels h3, .sidebarPanels h4 {
    margin:10px 0 10px;
    display:block;
}